body {
    text-align: center;
}

header, footer {
    margin: 1em;
}

.canvas {
    display: flex;    
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    width: 320px;
    height: 320px;
    box-shadow: 8px 8px gray;
    align-items: stretch;
}

.pixel {    
    background-color: white;
}

.filled {
    background-color: grey;
}

button {
    padding: 8px 16px;
}

.buttons {
    margin-bottom: 1em;
    display: flex;
    gap: 12px;
    justify-content: center;
}