body {
    text-align: center;
}

header, footer {
    margin: 1em;
}

main {
    display: flex;
    justify-content: center;
}

.canvas {
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 1px;
    margin: 3em;
    width: 320px;
    height: 320px;
    box-shadow: 8px 8px gray;
}

.pixel {
    width: 20px;
    height: 20px;
}

.filled {
    background-color: grey;
}